.best-movie-title {
  color: white;
  font-size: 3.5em;
}
.best-movies-paragraph {
  color: white;
  font-size: 1.3em;
}
.bestMovies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.best-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: white;
}
.best-ul li {
  padding: 1em;
  font-size: 1.2em;
}
.dynamic {
  background: #ff0000;
  padding: 0.5em;
}
.cards {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bestMovies {
    height: 270vh;
    padding-right: 80px;
  }
}
