.movies-title {
  color: white;
  font-size: 3em;
}
.movies span {
  background-color: #ff0000;
  height: 3px;
  width: 15%;
  position: absolute;
  margin-left: 2em;
}
.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
