.navbar {
  display: flex;
  background-color: #272829;
  position: sticky;
  top: 0;
  color: aliceblue;
  padding: 1.6em;
}
.nav-logo {
  width: 90px;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}
.navbar-items li {
  padding: 0.5em 1em;
  font-size: 1.1em;
  border-left: white solid 1px;
}
.navbar-items li:hover {
  color: #ff0000;
}
.navbar-logo h2 {
  margin-top: 0.3em;
}
.navbar-acc {
  margin-left: auto;
}
.nav-btn {
  color: aliceblue;
  background-color: #ff0000;
  padding: 0.5em;
  font-size: 1.1em;
  border: none;
  border-radius: 3px;
}
.nav-menu,
.nav-cancel {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .navbar-items {
    flex-direction: column;
    text-align: center;
    margin-top: 0.6em;
  }
  .navbar-items li {
    border-left: none;
  }
  .navbar-acc {
    margin: auto;
  }
  .nav-btn {
    padding: 0.3em;
    font-size: 1em;
  }
  .nav-menu,
  .nav-cancel {
    display: block;
  }
}
